<!DOCTYPE html>
<html lang="en">



    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Raxak</title>



        <link href="../static/css/basic_protect.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="../static/css/page-center.css" type="text/css" rel="stylesheet" media="screen,projection">



    </head>

    <body>
        
        <div >
            <div class="row">
                <div class="col s8 offset-s2">




                    <div class="row left"><h1>Email details</h1>
                        From : <a>info@cloudraxak.com </a><br>
                        Subject : Password Reset Link for <strong>Cloudraxak</strong>
                        <p>Oh snap! Forgot your password?
To reset your password, just click button below. If you did not make this request just ignore this email.</p>
                    </div>
                    
                    <div class="row clear left-align">
                    <a class="waves-effect waves-light btn ">Reset Password</a>
                     


                </div>
                </div>



                


            </div>

        </div>
   


</body>
</html>
