{% extends 'base.html' %}
{% load staticfiles %}

{% block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/page-center.css' %}">
{% endblock css %}

{% block title %}Password reset successful{% endblock %}

{% block content %}


<div class="crlogo"><img src="{% static 'images/crlogo-white.png' %}" alt="" /></div>
<div class="login_bx">
    <div class="row login-form">
        <div class="col s8 offset-s2">
            <div class="row left"><h5>Reset your Password </h5>
                <p> An email was sent to you with further instructions on how to receive your password.</p>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light col " onclick="location.href='/login'" type="submit" name="action">Ok</button>
            </div>
        </div> 
    </div>
</div>

{% endblock %}


{% block js %}
<script>
    {% if not user.is_authenticated %}
    $("#left-sidebar-nav, #header, .fixed-action-btn").css("display","none");
    {% endif %}
</script>
{% endblock js %}


