<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        
        <div >
            <div class="row">
                <div class="col s8 offset-s2">
                    <div class="row left">
                        <p>Oh snap! Forgot your password?<br>
                        To reset your password, just click button below. If you did not make this request just ignore this email.</p>
                    </div>
                    <div style="color: #ffffff; background-color: #0096d6; text-align: center; letter-spacing: .5px; width: 10vw; font-size: 1.3rem; padding: 10px 0px; border-radius: 5px;">
                        <a style="color: #ffffff; cursor: pointer; text-decoration:none; " href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>