<!-- START LEFT SIDEBAR NAV-->
<aside id="left-sidebar-nav">
    <ul id="slide-out" class="side-nav fixed leftside-navigation">
            <li class="bold active" ui-sref-active="active">
                <a ui-sref="/" class="waves-effect waves-cyan">
                    Dashboard
                </a>
            </li>
            <li class="no-padding" ui-sref-active="active">
                <a ui-sref="manage_consumers" class="waves-effect waves-cyan">
                    Manage Consumers
                </a>
            </li>
            <li class="no-padding" ui-sref-active="active">
                <a ui-sref="manage_projects" class="waves-effect waves-cyan">
                    Manage Projects
                </a>
            </li>
            <li class="no-padding" ui-sref-active="active">
                <a ui-sref="manage_payment" class="waves-effect waves-cyan">
                    Manage Payment
                </a>
            </li>
        </ul>
    </aside>