<!-- Start works header -->
<section id="works-top" class="" data-bottom-top="background-position: 50% -50px;" data-top-bottom="background-position: 50% 0px;">
	<div class="section-overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 divide-xl text-center"> </div>
		</div>
	</div>
</section>
<!-- End works header -->
<!-- Start footer -->
<footer class="smoke-bg">
	<div class="container">
		<div class="row">
			<!-- Footer menu -->
			<div class="clearfix"></div>
			<div class="divide-sm"></div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<div class="widget">
					<h5 class="widgetheading">PowerMitra</h5>
					<div class="col-sm-6">
						<ul class="link-list">
							<li><a href="#">About Us</a></li>
							<li><a href="#">Team</a></li>
							<li><a href="#">How We Work</a></li>
						</ul>
					</div>
					<div class="col-sm-6">
						<ul class="link-list">
							<li><a href="#">Blog</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">Site Map</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<div class="widget">
					<h5 class="widgetheading">Have Questions?</h5>
					<ul class="link-list">
						<li><a href="#">Faq</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> 012-34567890</a></li>
						<li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> info@sample.com</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<div class="widget">
					<h5 class="widgetheading">Policies</h5>
					<ul class="link-list">
						<li><a href="#">Privacy policy</a></li>
						<li><a href="#">Terms and conditions</a></li>
						<li><a href="#">Terms of Use</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<h5 class="widgetheading">Newsletter</h5>
				<p>Keep up with the latest company news and events. Enter your e-mail and subscribe to our newsletter.</p>
				<div class="input-group">
					<input type="text" class="form-control newsinput" id="searchbox" placeholder="Search for..." />
					<span class="input-group-btn">
						<button class="newsbtn" type="button"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
					</span> </div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</footer>
	<footer class="dark-bg">
		<div class="container">
			<div class="row">
				<!-- Social networks -->
				
				<!-- Copyright -->
				<div class="col-sm-12">
					<div class="col-sm-6 "> &copy; 2017 | Privacy policy </div>
					<div class="col-sm-6 text-right"> <a class="facebook" href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a class="google" href="#" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a> <a class="pinterest" href="#" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a> <a class="linkedin" href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a> <a class="twitter" href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a> </div>
				</div>
			</div>
		</div>
	</footer>
	<!-- End footer -->