{% load staticfiles %}
<!-- Start navigation -->
<div class="navbar navbar-default navbar-transparent navbar-fixed-top" role="navigation" data-start="padding: 10px 0px; background: rgba(255, 255, 255, .0); border-color: rgba(255, 255, 255, .0);" data-20p="padding: 0px 0px; background: rgba(64, 197, 240, .95); border-color: rgba(231, 231, 231, 1);">
	<div class="container">
		<div class="navbar-header">
			<a href="#intro" class="navbar-brand"><img class="img-responsive" src="{% static 'images/logo.png' %}" alt="" data-start="opacity: 1;" data-20p="opacity: 0;"><img class="img-responsive" src="{% static 'images/logo.png' %}" alt="" data-start="opacity: 0;" data-20p="opacity: 1;">
			</a>
		</div>
		<!-- Navigation links -->
		<div id='cssmenu'>
			<ul>
				<li><a ui-sref='/' ui-sref-active="active">Home</a></li>
				<li><a ui-sref="aboutus" ui-sref-active="active">About Us</a></li>
				<li><a ui-sref="contactus" ui-sref-active="active">Contat Us</a></li>
				<li class='active'><a href='#'>Products</a>
				<ul>
					<li><a href='#'>Product 1</a>
					<ul>
						<li><a href='#'>Sub Product</a></li>
						<li><a href='#'>Sub Product</a></li>
					</ul>
				</li>
				<li><a href='#'>Product 2</a>
				<ul>
					<li><a href='#'>Sub Product</a></li>
					<li><a href='#'>Sub Product</a></li>
				</ul>
			</li>
		</ul>
	</li>
	{% if user.id %}
		<li class='active'><a href='#'>Hi, {{ user.username}}</a>
		<ul>
			<!-- <li><a ui-sref="useraccount" ui-sref-active="active">Account</a></li> -->
			<!-- <li><a ui-sref="userproject" ui-sref-active="active">Project</a></li> -->
			<li><a href="#">Account</a></li>
			<li><a href="#">Project</a></li>
			<li><a href='#'>Manage EPC</a></li>
			<li><a href="/logout/">Log Out</a></li>
		</li>
	</ul>
</li>
{% else %}
<li><a href="login/">Log In</a></li>
{% endif %}
</ul>
</div>
</div>
</div>
<!-- End navigation -->