{% load staticfiles %}
<!-- Start intro-->
<section id="intro" class="parallax" data-start="background-position: 50% -10px;" data-100p="background-position: 50% 60px;">
  <div class="section-overlay">
    <div class="float-content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div id="carousel-intro" class="carousel">
              <div class="carousel-inner text-center">
                <div class="active item">
                  <h5 class="smoke">Save </h5>
                  <h1 class="text-uppercase light">Money</h1>
                  <a  class="btn" data-toggle="modal" data-target="#loginModal">Get started</a> </div>
                  <div class="item">
                    <h5 class="smoke">Versatile design for</h5>
                    <h1 class="text-uppercase light">Personal portfolio and agency</h1>
                    <a class="btn" data-toggle="modal" data-target="#loginModal">Get started</a> </div>
                    <div class="item">
                      <h5 class="smoke">Or use as</h5>
                      <h1 class="text-uppercase light">Landing and promo page</h1>
                      <a  class="btn" data-toggle="modal" data-target="#loginModal">Get started</a> </div>
                      <div class="item">
                        <h5 class="smoke">It's really</h5>
                        <h1 class="text-uppercase light">Easy to customize</h1>
                        <a class="btn" data-toggle="modal" data-target="#loginModal">Get started</a> </div>
                        <div class="item">
                          <h5 class="smoke">And it fits</h5>
                          <h1 class="text-uppercase light">Any brand and business</h1>
                          <a class="btn" data-toggle="modal" data-target="#exampleModal">Get started</a> </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- End intro-->
          <!-- Start services-->
          <section id="services" class="white-bg">
            <div class="container">
              <div class="row divide-md">
                <!-- Top content / image service-->
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 divide-md text-center">
                  <h2>The PowerMitra Process</h2>
                  <p>We'll explain it to you!</p>
                  <hr class="title-divider">
                </div>
                <div class="clearfix"></div>
                <!-- Service #1-->
                <div class="col-sm-3 divide-md text-center">
                  <div class="myway-icon-services"> <img src="{% static 'images/solar_register.png' %}" width="112" height="154"> </div>
                  <div class="divide-xs"></div>
                  <h3>Register</h3>
                  <p>Myway easily and efficiently scales your project with one code base, from phones to tablets to desktops.</p>
                </div>
                <!-- Service #2-->
                <div class="col-sm-3 divide-md text-center">
                  <div class="myway-icon-services"> <img src="{% static 'images/Solar_design.png' %}" width="112" height="154"></div>
                  <div class="divide-xs"></div>
                  <h3>System Design & Configuration</h3>
                  <p>Myway will look beautiful on any device. Serve high-resolution images to devices with retina displays.</p>
                </div>
                <!-- Service #3-->
                <div class="col-sm-3 divide-md text-center">
                  <div class="myway-icon-services"><img src="{% static 'images/solar_install.png' %}" width="112" height="154"></div>
                  <div class="divide-xs"></div>
                  <h3>Solar Panels Are Being Installed</h3>
                  <p>Packed in one nice document that comes with download. Saves your time so you can be dedicated to your work.</p>
                </div>
                <!-- Service #4-->
                <div class="col-sm-3 divide-md text-center">
                  <div class="myway-icon-services"> <img src="{% static 'images/solar_bill.png' %}" width="112" height="154"> </div>
                  <div class="divide-xs"></div>
                  <h3>Power Up
                  and Lower Energy Bills!</h3>
                  <p>Packed in one nice document that comes with download. Saves your time so you can be dedicated to your work.</p>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </section>
          <!-- End services-->
          <!-- Start about us-->
          <section id="clients" class="" data-bottom-top="background-position: 50% -0px;" data-top-bottom="background-position: 50% 0px;">
            <div class="container">
              <div class="row divide-md">
                <!-- Top content / image feature-->
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 divide-md text-center">
                  <h2>Why Choose Us</h2>
                  <hr class="title-divider">
                </div>
                <div class="clearfix"></div>
                <!-- Feature #1-->
                <div class="col-sm-6 divide-md media">
                  <div class="media-body">
                    <p>Power Mitra is a platform to connect consumers and service providers in alternate energy space.<br>
                      <br>
                      The following items are included in this proposal. Each item is described in detail. However, at the time of implementation, the actual specifications will be created in collaboration with the customer.<br>
                      <br>
                    We will deliver a comprehensive module to add business to business and business to consumer capabilities; the following are some of the salient features.</p>
                  </div>
                </div>
                <!-- Feature #2-->
                <div class="col-sm-6 divide-md media">
                  <div class="media-left">
                    <div class="myway-icon-features"> <img src="{% static 'images/img.jpg' %}" width="400" height="255"> </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </section>
          <!-- End about us-->
          <!-- Start testimonial-->
          <section id="features" class="white-bg">
            <div class="container">
              <div class="row divide-md">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 divide-md text-center">
                  <h2>Success Stories</h2>
                  <hr class="title-divider">
                </div>
                <div class="clearfix"></div>
                <div class="testimonials-carousel">
                  <div class="owl-carousel owl-two owl-theme">
                    <div class="item">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="testimonial-img"> <img src="{% static 'images/client1.jpg' %}" alt="" class="img-circle"> </div>
                        <div class="testimonial-block">
                          <div class="testimonial-user">
                            <h5>Kerry Smith - md</h5>
                          </div>
                          <div class="testimonial-content">
                            <p>"Loremest consectetur et interdum vulputate sodales feugiat etiam ut justo ut molestie viverra id a massa pellentesque tellus luctus venenatis."</p>
                            <p class="small">"Loremest consectetur et interdum vulputate sodales feugiat etiam ut justo ut molestie viverra id a massa pellentesque tellus luctus venenatis."</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="testimonial-img"> <img src="{% static 'images/client2.jpg' %}" alt="" class="img-circle"> </div>
                        <div class="testimonial-block">
                          <div class="testimonial-user">
                            <h5>Kerry Smith - md</h5>
                          </div>
                          <div class="testimonial-content">
                            <p>"Loremest consectetur et interdum vulputate sodales feugiat etiam ut justo ut molestie viverra id a massa pellentesque tellus luctus venenatis."</p>
                            <p class="small">"Loremest consectetur et interdum vulputate sodales feugiat etiam ut justo ut molestie viverra id a massa pellentesque tellus luctus venenatis."</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="testimonial-img"> <img src="{% static 'images/client3.jpg' %}" alt="" class="img-circle"> </div>
                        <div class="testimonial-block">
                          <div class="testimonial-user">
                            <h5>Kerry Smith - md</h5>
                          </div>
                          <div class="testimonial-content">
                            <p>"Loremest consectetur et interdum vulputate sodales feugiat etiam ut justo ut molestie viverra id a massa pellentesque tellus luctus venenatis."</p>
                            <p class="small">"Loremest consectetur et interdum vulputate sodales feugiat etiam ut justo ut molestie viverra id a massa pellentesque tellus luctus venenatis."</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="testimonial-img"> <img src="{% static 'images/client4.jpg' %}" alt="" class="img-circle"> </div>
                        <div class="testimonial-block">
                          <div class="testimonial-user">
                            <h5>Kerry Smith - md</h5>
                          </div>
                          <div class="testimonial-content">
                            <p>"Loremest consectetur et interdum vulputate sodales feugiat etiam ut justo ut molestie viverra id a massa pellentesque tellus luctus venenatis."</p>
                            <p class="small">"Loremest consectetur et interdum vulputate sodales feugiat etiam ut justo ut molestie viverra id a massa pellentesque tellus luctus venenatis."</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="testimonial-img"> <img src="{% static 'images/client5.jpg' %}" alt="" class="img-circle"> </div>
                        <div class="testimonial-block">
                          <div class="testimonial-user">
                            <h5>Kerry Smith - md</h5>
                          </div>
                          <div class="testimonial-content">
                            <p>"Loremest consectetur et interdum vulputate sodales feugiat etiam ut justo ut molestie viverra id a massa pellentesque tellus luctus venenatis."</p>
                            <p class="small">"Loremest consectetur et interdum vulputate sodales feugiat etiam ut justo ut molestie viverra id a massa pellentesque tellus luctus venenatis."</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="testimonial-img"> <img src="{% static 'images/client6.jpg' %}" alt="" class="img-circle"> </div>
                        <div class="testimonial-block">
                          <div class="testimonial-user">
                            <h5>Kerry Smith - md</h5>
                          </div>
                          <div class="testimonial-content">
                            <p>"Loremest consectetur et interdum vulputate sodales feugiat etiam ut justo ut molestie viverra id a massa pellentesque tellus luctus venenatis."</p>
                            <p class="small">"Loremest consectetur et interdum vulputate sodales feugiat etiam ut justo ut molestie viverra id a massa pellentesque tellus luctus venenatis."</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- End testimonial-->
            <section id="works-top" class="" data-bottom-top="background-position: 50% -50px;" data-top-bottom="background-position: 50% 0px;">
              <div class="section-overlay"></div>
              <div class="container">
                <div class="row">
                  <div class="col-xs-12 divide-xl text-center"> </div>
                </div>
              </div>
            </section>
            <!-- End award section-->