{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
	<title>Power Mitra</title>
{% endblock title %}
{% block css %}
{% endblock css %}
{% block header %}
	<div id="container" ng-app="power-mitra" ng-init="auth.user={{ user.id }}; auth.username ='{{ user.username }}'; auth.user_type='{{user.user_type.name}}'">
		{% include 'client/header.html' %}
	{% endblock header %}
	{% block navigation %}
	{% endblock navigation %}
	{% block content %}
		<div ui-view=""></div>
	{% endblock content %}
	{% block footer %}
		{% include 'client/footer.html' %}
	{% endblock footer %}
</div>
{% block basejs %}
	{{ block.super }}
{% endblock basejs %}
{% block js %}
	<script src="{% static 'js/mitra_app.js' %}"></script>
	<script src="{% static 'js/consumer.js' %}"></script>
	<script type="text/javascript">
	$('form').on('submit', function(e) {
	e.preventDefault()
    $.ajax({
      type:"POST",
      url: '/ajax_login/',
	    headers: {
	        // 'Authorization':'',
	        'X-CSRFToken': csrftoken,
	        // 'Content-Type':'application/json'
	    },      
      // data: $('#login_form').serialize(),
      data: {'email':$('#id_username').val(),'password':$('#id_password').val()},
      success: function(response){
        if(response.status==="success")
        	location.reload();
   }
  });
});
</script>
{% endblock js %}