{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
	<title>Power Mitra</title>
{% endblock title %}
{% block css %}
{% endblock css %}
{% block header %}
	<div id="container" ng-app="power-mitra" ng-init="auth.user={{ user.id }}; auth.username ='{{ user.username }}'; auth.user_type='{{user.user_type.name}}'">
		{% include './header.html' %}
	{% endblock header %}
	{% block navigation %}
	{% endblock navigation %}
	{% block content %}
		<div ui-view=""></div>
		<!-- {% include './home.html' %} -->
	{% endblock content %}
	{% block footer %}
		{% include './footer.html' %}
	{% endblock footer %}
</div>
{% block basejs %}
	{{ block.super }}
{% endblock basejs %}
{% block js %}
	<script src="{% static 'js/mitra_app.js' %}"></script>
	<script src="{% static 'js/consumer.js' %}"></script>
{% endblock js %}