<aside id="left-sidebar-nav">
    <ul id="slide-out" class="side-nav fixed leftside-navigation">
        <li class="bold active" ui-sref-active="active">
            <a ui-sref="/dashboard/" class="waves-effect waves-cyan">
                <i class="material-icons">dashboard</i> Dashboard
            </a>
        </li>
        <li class="no-padding" ui-sref-active="active">
            <a ui-sref="create_profile" class="waves-effect waves-cyan">
                View Projects
            </a>
        </li>
        <li class="no-padding" ui-sref-active="active">
            <a ui-sref="manage_profile" class="waves-effect waves-cyan">
                Manage Profiles
            </a>
        </li>
    </ul>
</aside>