<aside id="left-sidebar-nav">
    <ul id="slide-out" class="side-nav fixed leftside-navigation">
        <li class="bold active" ui-sref-active="active">
            <a ui-sref="dashboard" class="waves-effect waves-cyan">
                Dashboard
            </a>
        </li>
        <li class="no-padding" ui-sref-active="active">
            <a ui-sref="profile" class="waves-effect waves-cyan">
                View Profile
            </a>
        </li>
        <li class="no-padding" ui-sref-active="active">
            <a ui-sref="contactus" class="waves-effect waves-cyan">
                Contact Us
            </a>
        </li>
    </ul>
</aside>